<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Some webpage</title>
</head>
<body>
	{{> header}}

	<p>The site is under maintenance. We'll be right back.</p>

	{{> footer}}
</body>
</html>